#p1Btn {
    background-color: rgb(255, 81, 0); 
    color: white; 
}

#p2Btn {
    background-color: rgb(22, 63, 139); 
    color: white; 
}

#resetBtn {
    background-color: rgb(32, 31, 31); 
    color: white; 
}